@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  color: #14385C;
  font-weight: bold;
  font-size: 20px;
}

.menu {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menuItem {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: stretch;
}

.menuItemLink {
  text-decoration: none;
  padding: 20px;
}

.menuItemLink:hover {
  background-color: rgb(210, 210, 210);
}

.imagemContainer {
  width: 100%;
  height: 100%;
}

.imagem {
  display: block;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #14385C;
  font-size: 30px;
  font-weight: 500;
  height: 245vh;
  background-image: url('/triangles.png');
}

.contentTitle {
  position: relative;
  padding-top: 1.7em;
  padding-bottom: 0.8em;
  color: #14385C;
  font-size: 60px;
  font-weight: 700;
}

.tripleTriangles {
  position: absolute;
  top: 30px;
  right: -110px;
}

.boldText {
  font-weight: 700;
}

.why {
  margin-top: 4em;
  padding: 0.4em;
  border: solid 4px #FD7C11;
  border-radius: 10px;
  margin-bottom: 1.2em;
}

.contentText {
  text-align: justify;
  width: 28em;
}

.formInterest {
  margin-top: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5em;
  align-items: center;
}

.formButton {
  background-color: #FD7C11;
  border: none;
  height: 80px;
  width: 600px;
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

.formButton:hover {
  background-color: #d9690d;
}

.footer {
  position: relative;
  gap: 15px;
  height: 13em;
  padding-top: 2em;
  padding-bottom: 3em;
  display: flex;
  flex: 1;
  background-color: #14385C;
  justify-content: center;
  align-items: center;
  color: white;

}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.local {
  font-size: 20px;
  height: 100%;
  text-align: right;
}

.footerContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footerHorizontalContainer {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.localBold {
  font-weight: bold;
}

.footerAtena {
  position: absolute;
  right: 100px;
  bottom: 0;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}